{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
  <h1><span class="badge text-bg-primary">Технологии, которые применялись для написания моего проекта</span></h1>
  <aside class="col-12 col-md-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="badge text-bg-info">
        Python 3.7</span> - Высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью
      </li>
      <li class="list-group-item"><span class="badge text-bg-warning">
        Django 2.2.6</span> - Свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC.</splan>
      </li>
      <li class="list-group-item"><span class="badge text-bg-success">
        Pillow 8.3.1</span> - это свободно распространяемая библиотека для работы с изображениями</splan>
      </li>
      <li class="list-group-item"><span class="badge text-bg-danger">
        Pytest-django 4.4.0
      </span>
        - это чрезвычайно популярный инструмент тестирования
        Python с огромной экосистемой расширений.
      </splan>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
  </article>
</div>
{% endblock %}